.wrapper-title {
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 104px;
}

.text-title1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 90px;
}

.text-title2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
}

.text-hidden {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  display: none;
}

#customer-name {
    color: rgb(0,193,236);
}